body.signin-body {
  background-color: #d3d3d3;
}

.container.signin-container {
  margin-top: 8%; 
}

 #email-input, #pwd {
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}
.card.signin-card {
  /* padding: 40px 0px 20px;
  background-color: white; */

  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

img.signin-img {
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
}

form.sigin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #ffffff;
  background-color: #D22681;
  width: 100%;
  margin-bottom: 1.2rem;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
}

span.password-eye{
  position: absolute;
  right: 15px;
  transform: translate(0, -50%);
  top: 50%;
  cursor: pointer;
}

.fa{
  position: absolute; 
  right: 50px; 
  top: 109px;
  font-size: 20px;
  cursor: pointer;
  color: #9999;
}

.fa.active{
  color: dodgerblue;
}



































